/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Oswald:wght@200&display=swap');

@import url('https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/trade-gothic/TradeGothicLTW05-Light.woff2?yocs=o_r_s_');

@import url('https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/trade-gothic/TradeGothicLTW05-Roman.woff2?yocs=o_r_s_'); */

@font-face {
    font-family: "Trade Gothic W01 Light";
    font-weight: 100 1000;
    src: url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");
    src: url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");
}

@font-face {
    font-family: "Trade Gothic W01 Bold_2";
    font-weight: 100 1000;
    src: url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix");
    src: url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/7bb1c0cb-e6e9-44ea-ae0c-1984ad7e3339.woff2") format("woff2"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/1454a71d-cdbb-429c-8092-122f4493e0c7.woff") format("woff"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/d5ea405c-2180-4ff0-bd51-3e19fb280be4.ttf") format("truetype"), url("https://www.bathandbodyworks.com/v~4b.12d/on/demandware.static/Sites-BathAndBodyWorks-Site/-/en_US/v1628761564786/fonts/70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9.svg#70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9") format("svg");
}

* {
    font-family: 'Trade Gothic W01 Light', Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background: white;
}

input {
    font-size: 16px;
    color: #333;
}

.btn {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
}

.item {
    margin: 0;
}

.modal-body {
    padding: 32px;
}

.modal-content h2 {
    margin: 0;
}

.hero-image {
    max-width: 100%;
    margin-top: 16px;
}

.before .hero-image {
    margin-top: 0;
}

.logo {
    margin: 24px 0 16px 0;
}

.logo img {
    width: 80%;
    max-width: 360px;
}

#main {
    width: 552px;
    max-width: 100%;
    padding: 0;
    border: 2px solid #F2F2F2;
    border-bottom: 0;
    box-sizing: border-box;
}

#main .c {
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
}

#main .b, #main .t {
    background: none;
}

#main_t {
    display: none;
}

#main-top {
    padding: 0 16px;
}

#main-top-message {
    padding: 16px 0 0 0;
    font-size: 14px;
    font-weight: 700;
}

#lbCookieInfo {
    font-family: "Trade Gothic W01 Bold_2";
    display: block;
    padding:16px 24px;
    background: #FFE9E9;
    color: #CC0000;
}

#lbCookieInfo.cookiesAllowed {
    background: #E6F5FF;
    color: #1B79AA;
}

#middlepanel_iframe {
    margin-top: 16px;
    width: 100%;
}

#header {
    padding: 40px;
    color: #333;
    border: none;
}

#header h2 {
    padding: 0 0 10px 0;
}

#lbHeaderH2 {
    font-size: 20px;
    line-height: 28px;
    font-family: "Trade Gothic W01 Bold_2";
    text-transform: uppercase;    
}

#lbHeaderP {
    line-height: 20px;
}

.warning-box { 
    background: none;
    border: 1px solid #333;
    border-bottom: none;
    margin: 0 16px;
    padding: 24px 24px 0 24px;
}

.progressbar {
    border: 0;
    height: 16px;
    background: #E5E5E5;
    border: solid 2px #E5E5E5;
}

.progressbar .progress {
    background: #005699;
    background-image: none;
}
.progressbar .progress.updated {
    background-image: none;
}

.progressbar .progress .runner {
    display: none !important;
}

#MainPart_lbWhichIsIn {
    font-family: "Trade Gothic W01 Bold_2";
    text-transform: uppercase;
    white-space: nowrap;
}

#MainPart_lbLastUpdateTimeText {
    font-family: "Trade Gothic W01 Bold_2";
}

#MainPart_lbLastUpdateTimeTextTimeZonePostfix {
    font-family: "Trade Gothic W01 Bold_2";
}

.processbar-box {
    margin: 0;
    padding: 0 0 16px 0;
    color: #333;
    background: none;
}

.processbar-box p {
    margin: 0;
}

.processbar-box .holder {
    background: none;
    border: 1px solid #333;
    margin: 0 16px;
    padding: 0 24px 24px 24px;
    border-top: none;
    min-height: auto;
}

.processbar span {
    background: green;
}

.processbar-box .holder .larger {
    min-height: auto;
    padding-bottom: 32px;
}

.processbar-box .holder .larger span {
    font-size: 14px;
}

/* Confirm this contains just the status light */
#MainPart_ulProgressbarBox_Holder_Processbar {
    display: none;
}

#MainPart_divProgressbarBox_Holder_LastUpdateTime {
    display: inline-block;
    position: relative;
    padding-left: 12px;
}

#MainPart_divProgressbarBox_Holder_LastUpdateTime:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #1D6B49;
}

.time-box {
    background: #E6F5FF;
    margin: 0 16px 16px 16px;
}
.time-box .frame {
    padding: 24px;
    min-height: auto;
}

.time-box h2 {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 16px;
    margin: 0;
}

.time-box p {
    margin: 0;
    color: #1B79AA;
    font-family: "Trade Gothic W01 Bold_2";
    font-size: 16px;
    line-height: 16px;
    padding-top: 16px;
}

.time-box p > p {
    padding: 0;
}

.reminder-form {
    margin: 0;
    padding: 24px 40px 16px 40px;
    border-top: 1px solid #E5E5E5;
}

.reminder-form h2 {
    margin: 0 0 24px 0;
}

.btn {
    background: #333;
}

.btn.btn-disabled {
    background: #F2F2F2;
    color: #AAA;
    border-color: #F2F2F2;
}

.btn:hover {
    background: #333;
    box-shadow: none;
}

#MainPart_FormEmailInput {
    display: flex;
    flex-wrap: wrap;
}

.email-capture-label {
    color: #333;
    padding-bottom: 8px;
    display: block;
    width: 100%;
}

#divEmailStatusFrame {
    background: #FFE9E9;
    border: none;
    margin: 16px 0 0 0;
    padding: 16px 24px;    
    border-radius: none;
}

#divEmailStatusFrame.submit_success {
    background: #E9FFF2;
}

#divEmailStatus {
    color: #CC0000;
    font-family: "Trade Gothic W01 Bold_2";
}

#divEmailStatusFrame.submit_success #divEmailStatus {
    color: #1D6B49;
}

#MainPart_inpEmailAddress {
    margin-right: 8px;
    border-color: #E5E5E5;
    flex: 1;
    max-width: 200px;
}

#MainPart_inpEmailAddress::placeholder {
    display: none;
}

#MainPart_divExitLine {
    display: none;  
}

#queueIdModal_Header {
    background-color: white;
}

.btn-close {
    padding: 8px;
    background-color: #F2F2F2;
}

.btn-close:hover {
    background-color: #f2f2f2;
}

.update-warning-wrapper {
    position: relative;
    border: 1px solid #333;
    border-top: none;
    border-bottom: none;
    margin: 0 16px;
    padding: 16px 24px 0 24px;
}

#MainPart_lbManualUpdateWarning {
    margin: 0 0 16px 0;
    color: #CC0000;
    background-color: #FFE9E9;
    font-family: "Trade Gothic W01 Bold_2";
    border: 0;
    border-radius: 0;
    padding: 16px 24px 32px 24px;
}

#MainPart_lbManualUpdateWarning:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #333; 
}

/* The best hack */
#MainPart_lbManualUpdateWarning:after {
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: white;
    border-bottom: 1px solid #333;
}

.btn .l {
    color: white;
}

#footer-queueit-link {
    display: none;
}

#footer {
    width: auto;
    background: #F2F2F2;
    padding: 16px;
}

#footer-direct-link {
    float: none;
    text-align: center;
    font-size: 14px;
    color: #000;
}

#footer a {
    color: #000;
}

#MainPart_divVersionInfo:empty {
    display: none;
}

#bottompanel { 
    width: 552px;
    max-width: 100%;
    height: 48px;
    margin: auto;
}

#bottompanel_iframe {
    width: 552px;
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    #footer {
        margin: 0;
    }
}

/************************
     Your Turn Modal
************************/

#divConfirmRedirectModal_Content {
    width: 360px;
    max-width: 100%;
}

#h2ConfirmRedirect {
    font-size: 16px;
}

#divConfirmRedirectModal_Content h3{
    margin: 16px 0 32px 0;
}

#divConfirmRedirectModal_Content h3 span {
    font-family: "Trade Gothic W01 Bold_2";
    font-size: 20px;
}

#pConfirmRedirect {
    font-size: 18px;
    line-height: 28px;
    max-width: 220px;
    margin: 0 auto 16px auto;
}

#buttonConfirmRedirect {
    padding: 11px 30px;
}
/************************
        Prequeue
************************/

.prequeue .warning-box p {
    margin: 0;
    color: #333;    
}

.prequeue .time-box {
    margin: 16px;
}

.warning-box p {
    font-size: 14px;
}

#defaultCountdown, #defaultCountdown span { 
    font-size: 20px;
    line-height: 28px;
    font-family: "Trade Gothic W01 Bold_2";
    text-transform: uppercase;
}

#MainPart_lbEventStartTime {
    font-family: "Trade Gothic W01 Bold_2";
}

#MainPart_lbEventStartTimeTimeZonePostfix {
    display: none;
}



#MainPart_divProgressbarBox_Holder .larger.beforeElement {
    padding: 8px 0;
}

/************************
        Event Over
************************/

.exit .warning-box {
    margin-bottom: 16px;
    padding: 48px 24px;
    border-bottom: 1px solid #333;
}

.exit .processbar-box {
    display: none;
}

.exit .warning-box p {
    margin: 0;
}

.after #MainPart_divWarningBox, .after #MainPart_divProcessbarBox {
    display: none;
}

/************************
          Error
************************/

.error .warning-box {
    margin-bottom: 16px;
    padding: 48px 24px;
    border-bottom: 1px solid #333;
}

.error .processbar-box {
    display: none;
}

.error .warning-box p {
    margin: 0;
}

@media screen and (max-width: 552px) {
    #main {
        width: calc(100% - 32px);
    }

    #bottompanel {
        width: calc(100% - 32px);
    }
}
