<div class="gingham-banner"></div>
<style>
    body {
        margin: 0;
    }
    .gingham-banner {
        background: url('https://queueit-company-us-west-2.s3.amazonaws.com/bbw/userdata/gingham-tile.png');
        height: 24px;
    }
</style>